@media(max-width : 640px) {
    .ul-list {
        display: none;
    }

    .first-section {
        height: 122vh;
    }

    .signup {
        display: none;
    }

    .landing {
        display: flex;
        flex-direction: column;
    }

    .landing img {
        width: calc(100% - 30px);
        margin-top: 20px;
    }

    .navbar-items {
        width: 96%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 20px
    }

    .navbar-items img {
        width: 100px;
    
    }

    .text-landing h1 {
        text-align: center;
        font-size: 43px;
        width: 95%;
        margin: auto;
        margin-top: 40px;
    }

    .landing p:first-child {
        padding: 10px 20px;
        display: flex;
        justify-content: center;
    }

    .landing p:last-child {
        padding: 10px 20px;
        display: flex;
        justify-content: center;
    }

    .landing .button {
        justify-content: center;
        
    }

    .landing #ailogo {
        display: block !important;
    }

    .icon i {
        display: block;
        color: #fff;
        font-size: 1.7rem;


    }

    .items {
        background-position: center;
        height: 110vh;
        
    }


    .items p:first-child {
        font-size: 1.3rem;
        padding-top: 50px;
        margin-top: 20px;

    }

    .items h1 {
        width: 94%;
        margin: auto;
        margin-top: 15px;
   
    }

    .items #text {
        font-size: 1.1rem;
        width: 95%;
        margin: auto;
        margin-top: 15px;
        line-height: 30px;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .first-f {
        width: 90%;
        margin: auto;
    }

    .second-f {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .third-f {
        width: 90%;
        margin: auto;
        margin-top: 20px;

    }

    .company {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .company img:first-child {
        width: calc(100% - 40px);
    }

    .company img:last-child {
        width: calc(80% - 40px);

    }

}


@media(max-width : 1024px) {

    .first-section {
        height: 120vh;
    }

    .landing #ailogo {
        display: none;
    }
  

    .ul-list a {
        font-size: 12px;
        padding: 10px
    }

    .navbar-items {
        
        width: 100% !important;
        padding: 30px 20px;
    }

    .text-landing h1 {
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .button {
    
        margin: auto;
        
    }

    .company {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .company img:first-child {
        width: calc(100% - 40px);
    }

    .company img:last-child {
        width: calc(80% - 40px);

    }

    .items p:first-child{
        font-size: 1.7rem;
    }

    .items #text{
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .items h1 {
        font-size: 2.4rem;
        margin-top: 15px;
    }

    .items {
        background-position: center;

    }


}
